<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-todolist</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="text-align: center;font-size: 50px;">
        To-Do
    </h1>
    <main id="app" class="container">
        <div class="input">
            <input v-model="todoInput" @keyup.enter="toDos.push(todoInput)" type="text" placeholder ="New ToDo">
            <button @click="toDos.push(todoInput)">Add</button>
        </div>
        <div v-for="item in toDos" class="toDo">
            <p v-on:click="notDone = !notDone" v-bind:class="{ notDone: notDone }" style="display: inline; cursor: pointer;">
                {{item}}
            </p>
            <div style="float: right;display: inline;cursor: pointer;" @click="removeToDo(index)" class="close">X</div>
        </div>

    </main>

    


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="myscript.js"></script>

</body>
</html>